@model CheckSeparatorMVC.Models.Check
@{
    ViewData["Title"] = "Add user";
}


<h1>Enter user's name</h1>
<form asp-action="AddUserToCheck">
    <input type="text" name="userName"/>
    <label for="User name"></label>
    <input type="submit" value="Add"/>
    <input type ="hidden" name="checkId" value="@Model.CheckId"/>
</form>