* {
    box-sizing: border-box;
}

.header{
    margin-top: 10px;
    margin-left: 10px;
}

.menu-item{
    margin-left: 5px;
    border: solid 1px black;
    padding: 1px 3px;
}

a {
    outline: none;
    font-size: large;
    text-decoration: none;
}

    a:visited {
        color: blue;
    }

    a:active {
        color: blue;
    }

.home-h1{
    margin: 20px;
}
