@model CheckSeparatorMVC.Models.Product

@{
    ViewData["Title"] = "Edit product";
}

<h1> Edit Product </h1>

<h4> Product </h4>

<form asp-action="EditProduct" asp-controller="Products">
    <div class="group">
        <label asp-for="Name"></label>
        <input asp-for="Name" />
    </div>
    <div class="group">
        <label asp-for="Price"></label>
        <input asp-for="Price" />
    </div>
    <div class="group">
        <label asp-for="Amount"></label>
        <input asp-for="Amount" />
    </div>
    <input type="hidden" name="CheckId" value="@Model.CheckId">
    <input type="hidden" name="ProductId" value="@Model.ProductId">
    <input type="submit" value="EditProduct" class="btn btn-primary" />
</form>

