@model CheckSeparatorMVC.Models.ProductAndUserViewModel
@{
    ViewData["Title"] = "Name";
}

<h1>Type your name please.</h1>

<form asp-action="SelectProducts">
    <label asp-for="UserName">Name</label>
    <input asp-for="UserName"/>
    <input type="submit" value="EnterUserName" class="btn btn-primary"/>
</form>