@{
    ViewData["Title"] = "Product Menu";
}

<h1> Product Menu </h1>

<a asp-action="CreateCheck" class="btn btn-primary"> Create new check </a>
<form asp-action="FindCheck">
    <label> Find existing check </label>
    <input type="text" name="CheckId"/>
    <input type="submit" value="Find" class="btn btn-primary"/>
</form>

