@model CheckSeparatorMVC.Models.Url
@{
    ViewData["Title"] = "Link made";
}

<h1>Link made</h1>

<div class="form-group">
    <label>Link</label>
    <a asp-action="SelectProducts" asp-route-CheckId="@Model.Address[Model.Address.Length-1]">@Model.Address</a>
</div>

<form asp-action="CheckProducts">
    <input type="submit" value="Back to list"/>
    <input type="hidden" name="id" value="@Model.Address[Model.Address.Length-1]">
</form>
