@model CheckSeparatorMVC.Models.Url
@{
    ViewData["Title"] = "Link made";
}

<h1>Link made</h1>

<div class="form-group">
    <label>Link</label>
    <a asp-action="EnterUserName">@Model.Address</a>
</div>

<a asp-action="Index">Back to list</a>
