@model IEnumerable<CheckSeparatorMVC.Models.Product>
@{
    ViewData["Title"] = "Select Products";
}

<h1>Products</h1>

<h3>Select products from the list.</h3>

<table>
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th>
                Amount
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model is null)
        {
            <p class="ModelEmpty">
                There is no products!
            </p>
        }
        else
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        <input type="checkbox"/>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>